.header {
    // goldenrod
    color: white;
    position: relative;
    // .header__hero
    &__hero {
        background-color: $color-brand-third;
        padding-top: 46px;
        min-height: 300px;
    }
}

//-----  MEDIA QUERY / RESPONSIVE ----
// ONLY ON MOBILE
@media #{$bp-max-sm} {}

@media #{$bp-min-sm} {}

@media #{$bp-only-tablet} {}

@media #{$bp-min-md} {}

@media #{$bp-min-lg} {}

@media #{$bp-min-xl} {}