<header class="header {{addClass}}">
    {% include "main-top-menu.twig" %}
    <div class="header__hero">
        <video src=""></video>
        <div class="container">
            <h1> le header : ( https://github.com/younesh/kit-static-inte-forShare ) </h1>
        </div>
    </div>
</header>